body {

  background: #f1f1f1;
  width: 100%;
  max-width: 1080px;
  margin: 10px auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

}

.logo img {
  width: 80px;
  height: 40px;

}

.lista {

  display: flex;
  justify-content: flex-end;
}

.lista ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lista li {

  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin-inline: 10px;
  cursor: pointer;


}

.lista li:hover {
  color: rgb(2, 2, 87);
}



.imagem img {
  width: 100%;
  margin: auto;

}

.componentes {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.componentes img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.chat-container {
  position: absolute;
  top: 52%;
  right: 0;
  transform: translate(-10%, -50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 50%;
  height: 80%;
  padding: 10px;
  background-color: #dbdada;
  border-radius: 10px;
  overflow-y: scroll;
 
 

}

.chat-input {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 15%;

}

.chat-input input {
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  outline: none;

}

.chat-input button {
  padding: 2%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chat-input button.clicked {
  background-color: #6c757d;
}


.chat-input button:active {
  background-color: rgb(2, 2, 87);
}


.mensagem {
 
  border-radius: 10px;
  word-break: break-word;
  display: block;
}

.mensagem-enviada {
  display: flex;
  align-self: flex-end;
  background-color: rgb(3, 3, 138);
  flex-direction: row-reverse;
  margin-top: 2%;
  top: px;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;


}

.mensagem-recebida {
  display: flex;
  width: 40%;
  max-height: 50px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  align-self: flex-start;
  position: relative;
  top: 40px;
  flex-direction: column;
}


.mensagem-hora-enviada{
  margin-left: 10px;
  font-size: 0.8em;
  align-self: flex-end;
}

.mensagem-hora-recebida{
  position: absolute;
  bottom: 1px;
  right: 10px;
  font-size: 0.8em;
}



